@font-face {
  font-family: myFont;
  src: url(fonts/Ballet-Regular-VariableFont_opsz.ttf);
}

@font-face {
  font-family: myFont-secondary;
  src: url(fonts/MeriendaOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-04-a);
  background: var(--bg-04-b);
  background: var(--bg-04-c);
}
.container {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 20%;
  /* border: 2px solid rgb(250, 63, 63); */
}
.piano {
  overflow-x: auto;
  height: 60%;
  padding: 0.5%;
  display: flex;
  /* border: 1px solid rgb(4, 33, 252); */
}
.octave {
  height: 100%;
  display: flex;
}
.key-white {
  position: relative;
  width: 14vw;
  /* width: 7.142vw; */
  height: 100%;
  border: 1px solid black;
  border-top: none;
  border-radius: 3%;
  box-shadow: 3px 3px 2px rgb(82, 82, 82);
  background-color: var(--key-white);
}
.key-white .key-black {
  position: absolute;
  height: 60%;
  width: 80%;
  left: 60%;
  border-radius: 3%;
  box-shadow: 0px 10px 20px rgb(42, 42, 42);
  background-color: var(--key-black);
  background: var(--bg-05-a);
  background: var(--bg-05-b);
  background: var(--bg-05-c);
  z-index: 999;
}
.footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: clamp(1rem, 10vw, 2rem); */
  /* border: 2px solid rgb(33, 233, 56); */
}
/* .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
} */
.menu,
.menu::before,
.menu::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu::before {
  content: "";
  margin-top: -8px;
}

.menu::after {
  content: "";
  margin-top: 8px;
}
.octaves {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.399); */
}
.octave-up {
  /*  width: 100%;
  height: 100%; */
  position: relative;
  border-top: 2em solid transparent;
  border-left: 6em solid rgb(241, 241, 241);
  border-bottom: 2em solid transparent;
  border-radius: 20%;
}
.octave-up span {
  color: red;
}
.octave-down {
  /* width: 100%;
  height: 100%; */
  border-top: 2em solid transparent;
  border-right: 6em solid rgb(241, 241, 241);
  border-bottom: 2em solid transparent;
  border-radius: 20%;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 205, 247);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 186, 249);
}
